.what-we-do {
	text-align: center;
	background: #fff;
}

.what-we-do .heading {
	position: relative;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	display: block;
	color: #828181;
	letter-spacing: 3px;
	margin-top: 40px;
	margin-bottom: 69px;
}

.what-we-do .heading:after {
	content: "";
	display: block;
	width: 43px;
	height: 2px;
	background-color: #828181;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	bottom: 22px;
	transform: translate(-50%, -50%);
}

.what-we-do .sub-heading {
	display: block;
	font-size: 15px;
	color: #b7b3b3;
	text-transform: initial;
	margin-top: 9px;
	letter-spacing: initial;
}

.info-wraper {
	display: flex;	
}

.info-wraper .info-item {
	display: block;
	float: left;
	flex: 1 1 auto;
}


.info-item .icon-wrap {
    display: inline-block;
    padding: 50px;
    background-color: #e1f3e1;
    border-radius: 25px;
}

.info-item .btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-align: center;
	background-color: #54d154;
	padding: 10px 20px;
	border-radius: 26px;
	margin-bottom: 71px; 
}

.info-wraper h2 {
	color: #828181;
	font-size: 24px;
	font-weight: bold;
}

.info-item .info-text {
	color: #828181;
	font-size: 15px;
	max-width: 257px;
	display: block;
    margin: 0 auto;
    padding-bottom: 26px;
}

