.footer {
	background: #54d154;
}
.footer h2 {
	color: #288728;

}

.wrap	{
	display: block;
	background: #54d154;
	text-align: center;
	padding-top: 20px;
}

.content {
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 125px 175px;
}

.team-1 {
	display: flex;
	position: column;
	justify-content: center;
}

.bottom-team-present {
	background: #3eba3e;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.button-team  {
	border: 1px solid #fff;
	border-radius: 10px;
	text-decoration: none;
	background:  #54d154;
	padding: 10px;

}

.button-team a {
	color: #f4fcf4;
	text-decoration: none;
}